<footer class="footer white-color" id="bottom">
  <div class="container">
    <div class="footer-content">
      <a href="/index.html" class="footer-logo-link">
        <svg class="footer-logo">
          <use href="/img/sprite.svg#icon-white-logo"></use>
        </svg>
      </a>
      <ul class="footer-nav">
        <li class="footer-nav-item">
          <a href="#our-furniture" class="footer-nav-link">Наші меблі</a>
        </li>
        <li class="footer-nav-item">
          <a href="#about-us" class="footer-nav-link">Про нас</a>
        </li>
        <li class="footer-nav-item">
          <a href="#faq" class="footer-nav-link">Часті питання</a>
        </li>
        <li class="footer-nav-item">
          <a href="#feedback" class="footer-nav-link">Відгуки</a>
        </li>
      </ul>
      <ul class="footer-social">
        <li class="footer-social-item">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-social-link"
          >
            <svg width="24" height="24" class="footer-social-icon">
              <use href="/img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-social-link"
          >
            <svg width="24" height="24" class="footer-social-icon">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-social-link"
          >
            <svg width="24" height="24" class="footer-social-icon">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-copyright">&copy; 2025 Relume. Всі права захищені.</p>
    </div>
  </div>
</footer>
