<footer class="footer white-color" id="bottom">
  <div class="container">
    <div class="footer-content">
      <svg class="footer-logo">
        <use href="./img/sprite.svg#icon-white-logo"></use>
      </svg>
      <ul class="footer-nav">
        <li class="footer-nav-item">Наші меблі</li>
        <li class="footer-nav-item">Про нас</li>
        <li class="footer-nav-item">Часті питання</li>
        <li class="footer-nav-item">Відгуки</li>
      </ul>
      <ul class="footer-social">
        <li class="footer-social-item">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-social-link"
          >
            <svg width="24" height="24" class="footer-social-icon">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-social-link"
          >
            <svg width="24" height="24" class="footer-social-icon">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-social-link"
          >
            <svg width="24" height="24" class="footer-social-icon">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-copyright">&copy; 2025 Relume. Всі права захищені.</p>
    </div>
  </div>
</footer>
