<div class="order-modal hidden">
	<div class="modal">
		<button class="order-close" aria-label="Закрити">
			<svg class="icon">
				<use href="img/sprite.svg#icon-close"></use>
			</svg>
		</button>
		<h2 class="modal-title">Замовити</h2>

		<form class="order-form">
			<div class="form-group">
				<label class="label" for="name">Ім’я*</label>
				<input type="text" id="name" name="name" placeholder="Дмитро" required>
			</div>

			<div class="form-group">
				<label for="phone">Телефон*</label>
				<input type="tel" id="phone" name="phone" placeholder="38 099 123 22 11" required>
			</div>

			<div class="form-group area">
				<label for="comment">Коментар</label>
				<textarea id="comment" name="comment" placeholder="Введіть ваш коментар"></textarea>
			</div>

			<button type="submit" class="submit-btn">Надіслати заявку</button>
		</form>
		<script src="./js/order.js" type="module"></script>
	</div>
</div>