<section class="our-furniture" id="our-furniture">
    <div class="container-furniture">
        <h2 class="title">Наші меблі</h2>
        <p class="description">Знайдіть ідеальні рішення для вашого інтер'єру</p>

        <ul class="options">

            <li class="option" data-category="All furniture">
                <img srcset="./img/our-furniture/1x/1st.jpg 1x, ./img/our-furniture/2x/1st.jpg 2x"
                    src="./img/our-furniture/1x/1st.jpg" alt="Всі меблі"/>
                <span>Всі меблі</span>
            </li>

            <li class="option" data-category="66504a50a1b2c3d4e5f6a7b8">
                <img srcset="./img/our-furniture/1x/2nd.jpg 1x, ./img/our-furniture/2x/2nd.jpg 2x"
                    src="./img/our-furniture/1x/2nd.jpg" alt="М'які меблі"/>
                <span>М'які меблі</span>
            </li>

            <li class="option" data-category="66504a50a1b2c3d4e5f6a7b9">
                <img srcset="./img/our-furniture/1x/3rd.jpg 1x, ./img/our-furniture/2x/3rd.jpg 2x" 
                    src="./img/our-furniture/1x/3rd.jpg" alt="Шафи та системи зберігання" />
                <span>Шафи та системи зберігання</span>
            </li>

            <li class="option" data-category="66504a50a1b2c3d4e5f6a7ba">
                <img srcset="./img/our-furniture/1x/4th.jpg 1x, ./img/our-furniture/2x/4th.jpg 2x" 
                    src="./img/our-furniture/1x/4th.jpg" alt="Ліжка та матраци" />
                <span>Ліжка та матраци</span>
            </li>

            <li class="option" data-category="66504a50a1b2c3d4e5f6a7bb">
                <img srcset="./img/our-furniture/1x/5th.jpg 1x, ./img/our-furniture/2x/5th.jpg 2x" 
                    src="./img/our-furniture/1x/5th.jpg" alt="Столи" />
                <span>Столи</span>
            </li>

            <li class="option" data-category="66504a50a1b2c3d4e5f6a7bc">
                <img srcset="./img/our-furniture/1x/6th.jpg 1x, ./img/our-furniture/2x/6th.jpg 2x" 
                    src="./img/our-furniture/1x/6th.jpg" alt="Стільці та табурети" />
                <span>Стільці та табурети</span>
            </li>

            <li class="option" data-category="66504a50a1b2c3d4e5f6a7bd">
                <img srcset="./img/our-furniture/1x/7th.jpg 1x, ./img/our-furniture/2x/7th.jpg 2x"
                    src="./img/our-furniture/1x/7th.jpg" alt="Кухні" />
                <span>Кухні</span>
            </li>

            <li class="option" data-category="66504a50a1b2c3d4e5f6a7be">
                <img srcset="./img/our-furniture/1x/8th.jpg 1x, ./img/our-furniture/2x/8th.jpg 2x" 
                    src="./img/our-furniture/1x/8th.jpg" alt="еблі для дитячої" />
                <span>Меблі для дитячої</span>
            </li>

            <li class="option" data-category="66504a50a1b2c3d4e5f6a7bf">
                <img srcset="./img/our-furniture/1x/9th.jpg 1x, ./img/our-furniture/2x/9th.jpg 2x" 
                    src="./img/our-furniture/1x/9th.jpg" alt="Меблі для офісу" />
                <span>Меблі для офісу</span>
            </li>

            <li class="option" data-category="66504a50a1b2c3d4e5f6a7c0">
                <img srcset="./img/our-furniture/1x/10th.jpg 1x, ./img/our-furniture/2x/10th.jpg 2x" 
                    src="./img/our-furniture/1x/10th.jpg" alt="Меблі для передпокою" />
                <span>Меблі для передпокою</span>
            </li>

            <li class="option" data-category="66504a50a1b2c3d4e5f6a7c1">
                <img srcset="./img/our-furniture/1x/11th.jpg 1x, ./img/our-furniture/2x/11th.jpg 2x" 
                    src="./img/our-furniture/1x/11th.jpg" alt="Меблі для ванної кімнати" />
                <span>Меблі для ванної кімнати</span>
            </li>

            <li class="option" data-category="66504a50a1b2c3d4e5f6a7c2">
                <img srcset="./img/our-furniture/1x/12th.jpg 1x, ./img/our-furniture/2x/12th.jpg 2x" 
                    src="./img/our-furniture/1x/12th.jpg" alt="Садові та вуличні меблі" />
                <span>Садові та вуличні меблі</span>
            </li>

            <li class="option" data-category="66504a50a1b2c3d4e5f6a7c3">
                <img srcset="./img/our-furniture/1x/13th.jpg 1x, ./img/our-furniture/2x/13th.jpg 2x"
                    src="./img/our-furniture/1x/13th.jpg" alt="Декор та аксесуари" />
                <span>Декор та аксесуари</span>
            </li>

        </ul>

        <p class="loader-category">Завантажуємо категорію...</p>

        <ul class="furniture-items">
        </ul>

        <p class="loader">Завантажуємо нові меблі...</p>
        
        <button class="show-more">Показати ще</button>
        
    </div>
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/izitoast/dist/js/iziToast.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css">
</section>
