.hero {
    background-image: image-set(url(/img/hero/mob_x1-min.jpg) 1x,
            url(/img/hero/mob_x2-min.jpg) 2x, );
    background-size: cover;
    background-position: center;
    padding-top: 208px;
    padding-bottom: 137px;
    background-color: #080c09;
}

.hero-content {
    display: flex;
    flex-direction: column;

}

.hero .hero-title {
    margin-bottom: 24px;
    letter-spacing: 0.01em;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
}

.hero .hero-text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 1.6;
    opacity: 0.95;
    color: #FFFFFF;
    text-align: left;
}

.hero-btn {
    background-color: #6B0609;
    border: none;
    border-radius: 100px;
    color: #fff;
    padding: 10px 86px;
    font-size: 16px;
    font-weight: 500;
    width: auto;
    width: 335px;
    text-align: center;
    transition: background 0.2s ease, 0.2s ease;
    box-shadow:
        0 2px 4px 0 #5A2424,
        inset 0 -2px 1px 0 rgba(0, 0, 0, 0.3),
        inset 0 0 0 1px rgba(8, 12, 9, 0.25),
        inset 0 2px 1px 0 rgba(255, 255, 255, 0.35),
        inset 0 32px 24px 0 rgba(255, 255, 255, 0.1);
}

.hero-btn:active {
    transform: translateY(0);
}

.hero-btn:hover {
    background-color: #5a0407;
    transform: translateY(-2px);
}

@media (min-width: 768px) {

    .hero {
        background-image: image-set(url(/img/hero/tab_x1-min.jpg) 1x,
                url(/img/hero/tab_x2-min.jpg) 2x, );
        padding-top: 151px;
        padding-bottom: 80px;
    }

    .hero-title {
        text-align: left;
    }

    .hero-content {
        width: 560px;
    }

    .hero-text {
        margin-left: 0;
        margin-right: 0;
    }

    .hero-btn {
        background-color: #6B0609;
        border: none;
        padding: 10px 24px;
        width: 209px;
        height: 46px;
    }
}

@media (min-width: 1440px) {

    .hero {
        background-image: image-set(url(/img/hero/desck_x1-min.jpg) 1x,
                url(/img/hero/desck_x2-min.jpg) 2x);

        padding-top: 164px;
        padding-bottom: 92px;
    }

    .hero-title {
        margin-bottom: 24px;
        font-size: 56px;

    }
}