/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./container.css');

/* Sections style */
@import url('./footer.css');

body {
  font-family: "Raleway", sans-serif;
  color: #080c09;
}